body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    text-align: center;
    color: rgb(35, 149, 241);
    border-bottom: 0.035em solid rgb(0, 0, 0);
    margin-bottom: 1em;
}
.contactForm{
    width: 50%;
    margin: auto;
}
.user{
    list-style-image: url(../img/user.png);
}
.email{
    list-style-image: url(../img/email.png);
}
.phone{
    list-style-image: url(../img/phone.png);
}
.write{
    list-style-image: url(../img/write.png);
}
.contactForm input, #write{
    margin-top: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 0.4em;
    border: 0.035em solid rgb(58, 57, 57);
    border-radius: 0.200em;
    width: 94.8%;
    resize: vertical;
}
.send{
    width: 7em;
    margin-left: auto;
    margin-right: auto;
}
.send input{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    height: 3.0em;
    border: none;
    border-radius: 0.250em;
    background-color: rgb(35, 149, 241);
}